<li class="list-group-item bg-light">
    <div class="custom-control custom-checkbox">
        <form action="/update-task/<%= task.id %>" method="POST" style="display: inline;">
            <input type="checkbox" class="custom-control-input" id="<%= task.id %>" onchange="this.form.submit()"/>
            <label class="custom-control-label" for="<%= task.id %>"><%- task.task %></label>
        </form>
        <form action="/delete-task/<%= task.id %>" method="POST" style="display: inline;">
            <button type="submit" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
    </div>
</li>